body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 96vh;
    background-image: url('assets/bg-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.game-container {
    position: relative;
}

canvas {
    border: 1px solid #000;
    background-color: #fff;
}

.score {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: monospace;
    font-size: 20px;
} 